.head-wallet{
    text-align: center;
    padding: 14px 0;
}

.body-wallet{

}

.box-wallet-main{
    background-color: #ED4D2D;
    margin: 10px 20px 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.box-wallet-main .total-money{
    font-size: 26px;
}

.btn-wallet{
    font-size: 30px;
    background: none;
    color: #fff;
    border: none;
    margin: 0 4px;
}

.btn-wallet span{
    font-size: 14px;
}

